@import 'vars.css';

h1
{
    color: var(--main-color);
    font-family: var(--font-title);
}

p
{
    color: var(--main-color);
    font-family: var(--font-text);
}

p.myClass
{
    color: var(--accent-color);
}
p#myId
{
    color: goldenrod;
}
   